<div class="contenedor">
  <div class="tarjeta">
    <div class="marca">
      <div><fa-icon [icon]="faCcMastercard"></fa-icon>Master card</div>
      <div><div><fa-icon [icon]="faSimCard"></fa-icon></div></div>
    </div>
    <div class="balance">
      <div class="titulo">Total Assets (USD)</div>
      <div class="monto">{{total}}<span>.00</span></div>
    </div>
    <div class="parametros">
      <div>
        <div class="titulo">Asset Wallet</div>
        <div class="valor">27,319.23</div>
      </div>
      <div>
        <div class="titulo">Consumption</div>
        <div class="valor">2,438.32</div>
      </div>
    </div>
  </div>
  <div class="fondo">
  </div>
</div>
