.profile {
  width: 40px;
  border-radius: 100%;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 15px;
}

.titulo {
  font-size: 1.2rem;
  text-transform: uppercase;
}
