/* You can add global styles to this file, and also import other style files */
$primary-color: #1c0c66;

body {
  background-color: $primary-color;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
